<h1>Sections</h1>
<p>As sections have dynamic user input via the admin theme editor. They are best referenced as a tale, where the data payload can be defined.</p>
<p>View the sample, to define the tale params so that multiple states can be viewed.</p>