<div id="documentationBlock">
  <h1>Tales</h1>
  <p>Heavily inspired by the awesome people over at <a href="https://github.com/storybooks/storybook">storybook</a>!</p>
  <p>Tales is a compomnent library viewer and testing hub for shopify theme componentry.</p>

  <p>The way it works is that you can either view snippets based of a massive stub of shop data. or alternately you can define a tale, where by you can pass specific data into a liquid component. These are pivotal for sections, where the data may be user defined. </p>

  <h3>Documentation:</h3>
  <ul>
    <li><a href="/tales/snippets_doc">Snippets</a></li>
    <li><a href="/tales/sections_doc">Sections</a></li>
    <li><a href="/tales/actionLayers_doc">Action Layer</a></li>
  </ul> 
</div>