{% comment %} 
  // Renders a drop down for testing in 
{% endcomment %}
<h1>{{select.title}}</h1>
<select>
  {% for option in select.selectOptions %}
    <option value="{{option.val}}">{{option.name}}</option> 
  {% endfor %}
</select>